body {

    color: #2e2d2d;
  }

  .jumbotron {
    background-image: url("images/bellybutton.png");
    text-align: center;
    font-family: system-ui;
    background-size: auto 100%;
  }  

 
    



  